@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

}



*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html, body{
   scroll-behavior: smooth;
   color: #fff;
   height: 100%;
   background: #dfdfdf;
   width: 100%;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
}
#texto1{
    background: #fff;
    color: #000;
    height: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}

#meiotopo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px;
    color: #000;  
    align-items: center;
    background: #A09EBB;
}

#parte-esquerda-topo span{
    display: block;
    font-size: 40px;
    margin: 0px 0px 0px 30px;
    text-transform: uppercase;
    font-family: 'Abril Fatface family';
}

#parte-esquerda-topo img{
    margin: 0px 0px 0px 30px;
}
#parte-esquerda-topo{
    display: flex;
    align-items: center;
}
#barrapesquisa{
    height: 40px;
    background: #ffffff;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 0px 30px;
}

#barrapesquisa input{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #000;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: 0.5s;
}

#barrapesquisa a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #A09EBB;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
#barrapesquisa img{ width: 20px; margin: 0; }

#barrapesquisa:hover > input{
    width: 240px;
    padding: 0 10px;
}

#barrapesquisa:hover > a{ background: #ffffff; }
#parte-direita-topo{
    display: flex;
    align-items: center;
    justify-content: end;
}
.iconetopo img:nth-child(1){ margin: 0px 10px 0px 0px; }
.iconetopo img:nth-child(2){ margin: 0px 0px 0px 0px; }

#login img{margin: 0px 15px 0px 10px;}
#login a{
    display: flex;
    align-items: center;
    margin: 0px 80px 0px 0px;
}
nav{
    background-color: #fff;
    padding: 10px 0;
    box-shadow: #bdbdbd 0px 5px 5px 0px;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0;
}

nav ul li a{
    color: #000;
    font-size: 16px;
}

nav ul li a:hover{
    text-decoration: none;
    color: #000;
}

#imagem-topo{min-height: 200px;}

main{
    margin: auto;
    width: 1245px;
    color: #000;
}

main>span:nth-child(1){
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    background: #FAFFD8;
    height: 40px;
    font-size: 30px;
    border-radius: 20px;
}
h1{
    margin-left: 20px;
    padding-bottom: 10px;
    font-size: 25pt;
}
#item1{
    margin-top: 30px;
    width: 100%;
    height: 100%;
}

.produtos{
   display: inline-flex;
}

.produtos article{
    box-sizing: border-box;
    width: 230px;
    height: 450px;
    margin: 0 15px 20px 0; /*margem de foca da caixa dos produtos*/
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 15px;
}

.imagem-produto{
    width: 150px;
    height: 230px;
    margin-top: 35px;
    align-self: center;
    margin-bottom: 40px;
}
.infoproduto h3{
    text-align: start;
    padding-left: 5%;
    margin-bottom: 10px;
}

.avaliação-imagem{
    width: 70px;
    height: 15px;
    padding-left: 5%;
    margin-right: 5px;
}

.infoproduto{
  display: flex;
  flex-direction: column;
}

.infoproduto>div{
    margin-bottom: 10px;
}

.produtos>article>span{
    padding-left: 5%;
}

.produtos>article>span:nth-child(3){
    text-decoration: line-through;
    font-size:15px;
    color: #6969698e;
}
.produtos>article>span:nth-child(4){
    font-size: 20px;
    font-weight: bolder;
}
.produtos>article>span:nth-child(5){
    font-size:15px;
}
footer {
    width: 100%;
    color: #fff; /*cor das letras 'categoria','colaboradores'*/
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: #a09ebb; /*fundo*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 2rem;
}

#footer_img>img{
    width: 80px;
    height: 80px;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40); /*??*/
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: rgb(0, 0, 0); /*mudar cor da letra que aparece primeiro*/
    transition: all 0.4s; /*colocar span para aparecer RGM*/
}

.footer-list .footer-link:hover {
    color: #e253e2; /*cor secundaria da palavra*/
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: #5a5353; /*textinho cor*/
}

#input_group {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button { /*tamanho e cor e etc... da caixa do botao*/
    background-color: #7f37c9;
    border: none;
    color: #fff;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright p{
    display: flex;
    justify-content: center;
    background-color: #4e4d4d;
    font-size: 0.9rem;
    padding: 1rem;
    font-weight: 100;

}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #4e4d4d;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}