*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html, body{
   scroll-behavior: smooth;
   color: #fff;
   height: 100%;
   background: #dfdfdf;
   width: 100%;
}
header{
    position: fixed;
    width: 100%;
}
#texto1{
    background: #fff;
    color: #000;
    height: 40px;
    display: block;
    text-align: center;
    font-size: 30px;
}

#meiotopo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px;
    color: #000;  
    align-items: center;
    background: #dfaeff;
}

#parte-esquerda-topo span{
    display: block;
    font-size: 20px;
    margin: 0px 0px 0px 30px;
}

#parte-esquerda-topo img{
    margin: 0px 0px 0px 30px;
}
#parte-esquerda-topo{
    display: flex;
    align-items: center;
}
#barrapesquisa{
    height: 40px;
    background: #ffffff;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 0px 30px;
}

#barrapesquisa input{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #000;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: 0.5s;
}

#barrapesquisa a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fffefe;
    display: flex;
    justify-content: center;
    align-items: center;
}
#barrapesquisa img{ width: 20px; margin: 0;}

#barrapesquisa:hover > input{
    width: 240px;
    padding: 0 10px;
}

#parte-direita-topo{
    display: flex;
    align-items: center;
    justify-content: end;
}
.iconetopo img:nth-child(1){ margin: 0px 10px 0px 0px; }
.iconetopo img:nth-child(2){ margin: 0px 0px 0px 0px; }

#login img{margin: 0px 15px 0px 10px;}
#login a{
    display: flex;
    align-items: center;
    margin: 0px 80px 0px 0px;
}
nav{
    background-color: #fff;
    padding: 10px 0;
    box-shadow: #bdbdbd 0px 5px 5px 0px;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0;
}

nav ul li a{
    color: #000;
    font-size: 16px;
}

nav ul li a:hover{
    text-decoration: none;
    color: #000;
}

#imagem-topo{min-height: 200px;}

main{
    margin: auto;
    width: 1245px;
    color: #000;
}

main span:nth-child(1){
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    background: #dfaeff;
    height: 40px;
    font-size: 30px;
}
h1{
    margin-left: 20px;
    padding-bottom: 10px;
    font-size: 25pt;
}
#item1{
    margin-top: 30px;
    width: 100%;
    height: 100%;
}

.produtos{
   display: inline-flex;
}

.produtos article{
    box-sizing: border-box;
    width: 230px;
    height: 450px;
    margin: 0 15px 20px 0; /*margem de foca da caixa dos produtos*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #ffffff;
    border-radius: 15px;
}

.produtos article img:nth-child(1){
    width: 150px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.produtos article h3{
    text-align: start;
    padding-left: 5%;
}

.estrelas{
    background: #000;

}
.estrelas img{
    
}


footer{
    display: none;
}